
<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head.ejs') %>
</head>
<body>
<%- include('includes/navigation-menu.ejs') %>
    <main>
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto">
            <form action="/accounts/signin" method="post" class="form-signin my-5 mb-2">
              <img class="mb-4 w-100 mx-auto" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
              <h1 class="h3 mb-3 font-weight-normal text-center">Sign In Form</h1>
              <select class="form-select mb-3" aria-label=".form-select-lg example" name="userType">
                <option selected>Select User Type</option>
                <option value="customer">Customer</option>
                <option value="admin">Admin</option>

              </select>
              <label for="email" class="sr-only">Email address</label>
              <p>
                <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required autofocus>
              </p>
              <label for="password" class="sr-only">Password</label>
              <p>
                <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
              </p>
              <p>Do you have account? then <a href="/accounts/signup">create account</a></p>
              <!-- <div class="col-md-12 text-center"> -->
              <button class="btn btn-primary btn-block w-100" type="submit">Sign in</button>
              <!-- </div> -->
            </form>
          </div>
        </div>
      </div>
    </main>

<%- include('includes/footer.ejs') %>
<%- include('includes/end.ejs') %>